@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.main {
  background-image: url("images/bg2.jpg");
  height: 100vh;
  
  background-size: max(1200px, 100vw);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
body {
  background-color: black;
}
.box {
  background-color: black;
  height: 100vh;
  width: 100%;
  opacity: 0.64;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  max-width: 75vw;
  justify-content: space-between;
  margin: auto;
  height: 70px;
}
nav img {
  height: 144px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: poppins;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 500px;
  padding: 20px;
}
.hero span{
    text-align: center;
}
.text{
    gap: 20;
    margin-top: 7px;
    padding: 10px;
    font-size: x-large;
}

.seperation{
 height: 4px;
 background-color: rgb(128, 128, 128);
}

.btn{
padding: 7px 45px;

color: white;
background-color: rgba(40, 111, 174, 0);
font-weight: bold;
border-radius: 4px;
border-color: whitesmoke;
margin: 2px;

}
.btnred{
    background-color: red;border-color: rgba(240, 248, 255, 0);

}
.btnredsn{
background-color: red;   border-color: rgba(240, 248, 255, 0);
}

.down{
    color: white;
    margin-top: 45px;
    margin-left: 75px;
    font-weight: 400;
    font-size: 25px;
}
.movies img{
    border-radius: 8px;
    margin-left: 85px;
    margin-top: 15px;
}
.faq h2{
    color: white;
    margin-left: auto;
    margin-top: 20px;
text-align: center;
margin-bottom: 30px;

}

.faqbox{    display: flex;
    background-color: rgb(90, 87, 87);
    
    color: white;
    width: 60vw;
  justify-content: space-between;
  padding: 16px;
  font-size: 22px;
  align-items: center;

  margin: 10px auto;
}
.faqbox:hover{
    background-color: rgb(62, 60, 60);
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
footer a{
    color: white;
   
}
.footer-item{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.reason h2{
  color: white;
  margin: 20px;  text-align: center;

 
}
.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.uboxes{
  height: 200px;
  width: 250px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right bottom ,#192145,#220E17);
  padding: 5px;
  margin: 10px;
  border-radius: 5px
}
.uboxes span{
  padding: 10px;
  margin: 10px;
  color: rgb(200, 196, 196);

}
